.bordered-titled-title {
  -fx-translate-x:  8;
  -fx-translate-y: -15;
  -fx-padding: 0 0 0 4;
  -fx-background-color: -fx-background;
   -fx-font-size: 12pt;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 2 0 0 0;
  -fx-border-color: -fx-text-box-border;
  -fx-border-width: 8;
}

.bordered-titled-content {
  -fx-padding: 18 5 5 5;
}